@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Satisfy&display=swap");
@import "_var.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  direction: rtl;
}

.colorLine {
  background-color: $btnColor;
  height: 3px;
}

#menuCon {
  max-width: 100%;
  padding-top: 5px;
}

header {
  width: 100%;
  height: 80px;
}

#menuHeader {
  width: 50%;
  border-radius: 10px;
  z-index: 1000;
}

#navbarTogglerDemo02 {
  padding: 5px;
}

.brand {
  position: relative;
  max-width: 50%;
  text-align: center;
  padding: 0;
}

.pfpName {
  font-family: "Satisfy", cursive;
  font-size: 25px;
  font-weight: 500;
}

#pfp {
  width: 62px;
  height: 62px;
}

.nav-item {
  margin: 0 30px;
}

.nav-link {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  right: 5px;
  text-wrap: nowrap;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
  transition: 0.3s;
}

.nav-link:hover {
  color: $btnColor;
  background-color: $textColor;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.to-top {
  background-color: $textColor;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px white;
  position: fixed;
  bottom: 40px;
  right: 30px;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
  transition: 0.3s;
  z-index: 1000;
}

.to-top::after {
  content: "▲";
  font-size: 2em;
  color: #fff;
}

.to-top:hover {
  background-color: #ff9800;
}

.to-top:active {
  background-color: #555;
}

.backgroundOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 1rem;
  background-color: $btnColor;
  opacity: 0.32;
  z-index: 1;
}

.about {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  height: 460px;
  padding: 5% 15%;
  background-image: url("../images/header-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    font-size: 80px;
    font-weight: 900;
    color: $textColor;
    text-wrap: nowrap;
    z-index: 2;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: $textColor;
    z-index: 2;
  }
}

#iconList {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 18px 15px -20px;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  img {
    width: 100px;
    height: 100px;
    padding: 0;
    -webkit-transition: 0.3;
    -moz-transition: 0.3;
    -ms-transition: 0.3;
    -o-transition: 0.3;
    transition: 0.3s;
  }

  img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.icon-container {
  height: auto;
  padding: 10px 0;
}

.icon-overlay {
  width: 100px;
  height: 100px;
  background-color: #ffffff7f;
  position: absolute;

  p {
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px $btnColor;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 50%;
    margin: 0;
    padding: 60% 0;
    text-align: center;
  }
}

#description-con {
  padding: 100px 0;
}

.figure-caption {
  font-size: 36px;
  font-weight: 900;
  color: $textColor;
}

.description {
  font-size: 20px;
  font-weight: 500;
}

#cv {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: $textColor;
  background-color: $btnColor;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 22px;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
  transition: 0.3s;
}

#cv:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#gallery {
  .row {
    margin: 0;
  }
}

.projects {
  background-color: #f6f6f6;
  padding: 100px 0 150px 0;

  .flex-column {
    text-align: center;

    h2 {
      font-size: 36px;
      font-weight: 900;
    }

    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.projectCon {
  max-width: 405px;
  min-width: 320px;
  border-radius: 100px;
  margin: 30px 10px;

  .projectContent {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

.projectCon:hover {
  .projectContent {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .projectImg {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
}

.projectLink {
  text-decoration: none;
}

.projectContent {
  text-align: center;
  color: $textColor;
  padding: 20px 20px 30px 20px;
  background-color: white;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  border-radius: 0 0 10px 10px;

  h3 {
    font-size: 23px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    font-weight: 500;
  }
}

.img-wrapper {
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.projectImg {
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  max-width: 400px;
  height: 200px;
  border-radius: 10px 10px 0 0;
  z-index: 1;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

#hereAndNow {
  background-image: url(../images/project-landing-page-1.png);
}
#goingForward {
  background-image: url(../images/Landing-Page-Option-forward.png);
}
#goodCoffee {
  background-image: url(../images/Landing-Page-Option-coffee.png);
}
#letUsLeadYou {
  background-image: url(../images/Landing-Page-Option-forward2.png);
}
#discovery {
  background-image: url(../images/Landing-Page-Option-discovery.png);
}
#outsideBox {
  background-image: url(../images/Landing-Page-Option-outsidebox.png);
}

.img-overlay {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.projectIcon {
  margin-bottom: 15px;

  img {
    height: 50px;
  }
}

.projectBtn {
  font-size: 16px;
  font-weight: 500;
  background-color: $btnColor;
  border-radius: 23px;
  padding: 10px 20px;
  text-wrap: nowrap;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.projectBtn:hover {
  font-weight: 800;
  padding: 12px 26px;
  margin: -2px 0 -2px 0;
}

#formCon {
  background-color: $textColor;
  color: white;
  position: relative;
}

.form-bg {
  background-image: url(../images/Rectangle\ 41.png);
  background-repeat: no-repeat;
  -webkit-background-size: 44% auto;
  -moz-background-size: 44% auto;
  -ms-background-size: 44% auto;
  -o-background-size: 44% auto;
  background-size: 44% auto;
  height: 100%;
  width: 95%;
  position: absolute;
  z-index: 1;
}

#form-container {
  padding: 10% 0 10% 20%;
  height: 950px;
  z-index: 2;

  h2 {
    font-size: 26px;
    font-weight: 900;
  }
}

.form-control {
  max-width: 550px;
  border-color: $btnColor;
  border-radius: 2px;
  border-width: 0px 0px 3px 0px;
}

#form_submit {
  font-size: 22px;
  font-weight: 800;
  color: $textColor;
  background-color: $btnColor;
  letter-spacing: 2px;
  border-radius: 50px;
  border: none;
  padding: 10px 40px;
  height: 50px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#form_submit:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

::placeholder {
  text-align: right;
}

#footer {
  background-color: $btnColor;
  color: $textColor;
  padding: 35px 12%;
  margin: 0;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  a {
    text-decoration: none;
    margin: 25px 0;

    img {
      margin: auto;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }

    a {
      text-decoration: none;
    }
    span {
      color: $textColor;
      margin-top: 14px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
  }
  a:hover {
    img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

#rights-footer {
  background-color: black;
  padding: 5px 20px;
  margin: 0;

  p {
    font-size: 20px;
    margin-bottom: 0;
    color: $btnColor;
  }
}

@media screen and (max-width: 576px) {
  .pfpName {
    display: none;
  }

  .about h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 376px) {
  .projectCon {
    max-width: 350px;
  }

  #footer {
    flex-direction: column;
    -ms-flex-direction: column;

    a {
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 25px 0;
    }
  }

  #rights-footer {
    p {
      font-size: 15px;
    }
  }
}
