@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Heebo:wght@100..900&family=Satisfy&display=swap");
@import "_var.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  direction: rtl;
}

/* Landing Page
-----------------------------------------------------------------------------------------------------------------*/

header {
  width: 100%;
  height: 80px;
}

.colorLine {
  background-color: $btnColor;
  height: 3px;
}

.brand {
  direction: ltr;
  position: relative;
  max-width: 50%;
  text-align: center;
  text-wrap: nowrap;
  padding: 5px 0;

  a {
    text-decoration: none;
  }
}

.pfpName {
  font-family: "Satisfy", cursive;
  color: $textColor;
  font-size: 25px;
  font-weight: 500;
}

#pfp {
  width: 62px;
  height: 62px;
}

.backgroundOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 1rem;
  background-color: $btnColor;
  opacity: 0.32;
  z-index: 1;
}

.about {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 460px;
  padding: 5% 15%;
  background-image: url("../images/header-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    font-size: 80px;
    font-weight: 900;
    color: $textColor;
    z-index: 2;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: $textColor;
    z-index: 2;
  }
}

#about-buttons {
  z-index: 2;
  height: auto;
  align-items: center;
  a {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: $textColor;
    background-color: $btnColor;
    border-radius: 50px;
    padding: 5px 20px;
    margin: 5px 8px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}

#iconList {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 18px 15px -20px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  img {
    width: 100px;
    height: 100px;
    padding: 0;
    -webkit-transition: 0.3;
    -moz-transition: 0.3;
    -ms-transition: 0.3;
    -o-transition: 0.3;
    transition: 0.3s;
  }

  img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.icon-container {
  height: auto;
  padding: 10px 0;
}

.preview {
  background-color: #ebfeff;
  position: relative;
  padding: 150px 0;
  height: 1000px;

  img {
    position: absolute;
    max-width: 50%;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.5);
    left: 50%;
    transform: translateX(-50%);
  }
}

#footer {
  background-color: $btnColor;
  color: $textColor;
  padding: 35px 12%;
  margin: 0;
  flex-wrap: wrap;

  div {
    margin: 25px 0;

    img {
      margin: auto;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }

    img:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

    span {
      margin-top: 14px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
  }
}

#rights-footer {
  background-color: black;
  padding: 5px 20px;
  margin: 0;

  p {
    font-size: 20px;
    margin-bottom: 0;
    color: $btnColor;
  }
}

@media screen and (max-width: 1700px) {
  .preview {
    img {
      max-width: 80%;
    }
  }
}
@media screen and (max-width: 1000px) {
  .about {
    h1 {
      font-size: 50px;
    }
  }
}
@media screen and (max-width: 900px) {
  .preview {
    height: 500px;
    img {
      max-width: 60%;
    }
  }
}

@media screen and (max-width: 450px) {
  .about {
    h1 {
      font-size: 40px;
    }
  }
  .preview {
    img {
      max-width: 90%;
    }
  }
}

/* Index / Main Project Page
-----------------------------------------------------------------------------------------------------------------*/

.main-title-con {
  background-color: $formcolor;
  height: 600px;
  align-items: center;
}

.whatsapp {
  background-image: url(../images/Icon\ awesome-whatsapp.svg);
  background-position: center center;
  // background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0px 3px 6px #00000029;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 60px;
  left: 60px;
}

.box-img {
  img {
    margin: 0 150px 0 180px;
  }
}

.main-title {
  max-width: 800px;
  h1 {
    font-size: 66px;
    font-weight: 900;
  }
  p {
    font-size: 20px;
  }
}

.bubbles-con {
  height: 400px;
  justify-content: center;
}

.bubble {
  background-color: #f8f8f8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px 25px 0 25px;
  max-width: 23%;
  img {
    width: 55px;
  }
  h2 {
    font-size: 30px;
    font-weight: 900;
    color: $formcolor;
  }
  p {
    text-align: center;
    font-size: 15px;
  }
}
