@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Landing Page
-----------------------------------------------------------------------------------------------------------------*/
header {
  width: 100%;
  height: 80px;
}

.colorLine {
  background-color: #1ae0ec;
  height: 3px;
}

.brand {
  direction: ltr;
  position: relative;
  max-width: 50%;
  text-align: center;
  text-wrap: nowrap;
  padding: 5px 0;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.brand:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.pfpName {
  font-family: "Satisfy", cursive;
  color: #3a3a3a;
  font-size: 25px;
  font-weight: 500;
}

#pfp {
  width: 62px;
  height: 62px;
  border-radius: 100%;
}

.backgroundOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 1rem;
  background-color: #1ae0ec;
  opacity: 0.32;
  z-index: 1;
}

.about {
  direction: rtl;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-direction: column;
  -ms-flex-direction: column;
  height: 460px;
  padding: 5% 15%;
  font-family: "Heebo", sans-serif;
  background-image: url("../images/header-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about h1 {
  font-size: 80px;
  font-weight: 900;
  color: #3a3a3a;
  z-index: 2;
}

.about p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #3a3a3a;
  z-index: 2;
}

#about-buttons {
  z-index: 2;
  height: auto;
  align-items: center;
}

#about-buttons a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #3a3a3a;
  background-color: #1ae0ec;
  border-radius: 50px;
  padding: 5px 20px;
  margin: 5px 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#about-buttons a:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

#iconList {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 18px 15px -20px;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

#iconList img {
  width: 100px;
  height: 100px;
  padding: 0;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
  transition: 0.3s;
}

#iconList img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.icon-container {
  height: auto;
  padding: 10px 0;
}

.preview {
  background-color: #ebfeff;
  position: relative;
  padding: 150px 0;
  height: 1000px;
}

.preview img {
  position: absolute;
  max-width: 55%;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.5);
  left: 50%;
  transform: translateX(-50%);
}

#footer {
  justify-content: space-evenly;
  background-color: #1ae0ec;
  color: #3a3a3a;
  padding: 35px 12%;
  margin: 0;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

#footer a {
  text-decoration: none;
  margin: 25px 0;
  max-width: 160px;
}

#footer a img {
  margin: auto;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#footer a a {
  text-decoration: none;
}

#footer a span {
  color: #3a3a3a;
  text-wrap: nowrap;
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

#footer a:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

#rights-footer {
  background-color: black;
  padding: 5px 20px;
  margin: 0;
}

#rights-footer p {
  font-size: 20px;
  margin-bottom: 0;
  color: #1ae0ec;
}

/* Index / Main Project Page
-----------------------------------------------------------------------------------------------------------------*/
#projectCon {
  font-family: "Heebo", "sans-serif";
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titleWrapper {
  display: flex;
  color: #0e36e5;
  background-color: #eee;
  text-align: center;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3019607843);
}
#titleWrapper h1 {
  font-size: 54px;
  font-weight: 900;
}

#questions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-top: 1px solid rgba(0, 0, 0, 0.3019607843);
}

#question {
  font-size: 50px;
  font-weight: 900;
  margin: 0 30px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#answer {
  max-width: 200px;
  margin-left: 25px;
}

.btn-primary {
  width: 150px;
  background-color: #0e36e5;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

#optionsWrapper {
  display: flex;
  align-items: center;
  width: 85%;
  max-height: 400px;
  margin-bottom: 70px;
}

#optionsTitle {
  width: 85%;
  padding-top: 50px;
  margin-bottom: 30px;
}
#optionsTitle h3 {
  color: #0e36e5;
  font-size: 30px;
  font-weight: 700;
}

.input {
  width: 250px;
}

.form-select {
  width: 85%;
}

#history {
  display: flex;
  justify-content: center;
  align-items: center;
}

#table {
  table-layout: fixed;
  max-width: 1100px;
  margin-bottom: 30px;
}
#table thead {
  text-align: center;
}
#table thead th {
  color: #0e36e5;
  background-color: #cecece;
}

#total,
#correctCount,
#wrongCount,
#pointstCount {
  text-align: center;
  color: #0e36e5;
  font-weight: 500;
  background-color: #eee;
}

#tbody tr {
  text-align: center;
  height: 50px;
}/*# sourceMappingURL=style.css.map */